<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper根标签 namespace，命令空间：保证命名空间唯一，一般是对应的mapper.java的包全路径,按ctrl键能跳转过去-->
<mapper namespace="com.tulun.maventest.mapper.UserMapper"/>
